@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url("../img/background1.png");
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 169px;
    cursor: pointer;
}

.cart {
    width: 60px;
    cursor: pointer;
}

nav {
    flex: 1;
    padding-left: 60px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    font-family: 'Poppins', sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    transition: 0.8s all;
}

.content h1 {
    font-size: 45px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
}

.content p {
    font-size: 28px;
    color: #6a7199;
}

.content {
    margin-left: 10%;
    margin-top: 10%;
}

.btn {
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.30);
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

}

.btn:hover {
    opacity: 0.9;
}

.arrow-icons {
    margin-top: 40px;
    display: flex;
}

.arrow-icons img {
    width: 40px;
    margin-right: 25px;
    cursor: pointer;
}

.arrow-icons img:hover {
    opacity: 0.9;
}

.feature-img {
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.social-links {
    transform: rotate(-90deg);
    position: absolute;
    left: -80px;
    bottom: 180px;
}

.social-links a {
    text-decoration: none;
    color: #6a7199;
    padding-right: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 0px 4px;
}

.social-links a:hover {
    color: #ff77cd;
    transition: 0.4s all;
}

/* RESPONSIVO */

@media (max-width:785px) {
    .content {
        padding: 18px 20px;
    }

    .navbar {
        display: block;
    }
}